<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/src/plot.css" />
    <style>
        html {
            height: 100%;
        }
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #ddd;
        }
    </style>
</head>
<body>
@RenderBody()

<script>
    const snapId = @ViewData["SnapId"];
</script>
<div id="snap" class="echogram"></div>

<script src="https://code.easypz.io/easypz.latest.js"></script>

<script src="~/src/shaders.js"></script>
<script src="~/src/WebGLUtil.js"></script>
<script src="~/src/DataContainer.js"></script>
<script src="~/src/Plot.js"></script>

<script src="~/main.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>